.container {
  background-color: transparent;
  height: auto;
  width: 100vw;
  color: rgb(170, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
}

.name {
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 0 0 1rem;
}

.job {
  width: auto;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.item {
  padding: 1rem 0 0 1rem;
  font-size: 0.8rem;
  p {
    color: rgb(163, 163, 163);
    margin-top: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.easyAll {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
