.container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: transparent;

  span {
    cursor: pointer;

    background-color: transparent;
    color: rgb(133, 132, 132);
    writing-mode: vertical-rl;
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
  }
}

.dark {
  padding: 0.35rem;
  background-color: rgb(92, 90, 90);
  border: solid 1px rgb(206, 199, 199);
  margin-bottom: 0.5rem;
  margin-left: 0.13rem;
}
.light {
  padding: 0.35rem;
  background-color: rgb(230, 230, 230);
  border: solid 1px rgb(114, 114, 114);
  margin-bottom: 0.5rem;
  margin-left: 0.13rem;
}
